// .card-container {

// }

// .card-container:hover {
//     transform: translate(-400px, 0);

//     // set tile to active
// }

.carousel-window {

    overflow: scroll;
    position: relative;
    display: inline-flex;
    width: 100vw;
    height: 600px;
    transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1);

}

.group-container {
    display: inline-flex;


}



.one {

    order: 1;

}

.two {
    order: 2;
}

.three {

    order: 3;


}


.main-container {
    position: absolute;
    left: 0px;
    background-color: white;
    display: inline-flex;
    display: flex;
    width: auto;
    justify-content: space-between;



}