.carousel-window {
    width: 100vw;
    overflow-x: scroll;
    height: 600px;
    display: flex;
    transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1);
    scroll-snap-type: x proximity;
}

::-webkit-scrollbar {
    display: none;
}