// .card-container {

// }

// .card-container:hover {
//     transform: translate(-400px, 0);

//     // set tile to active
// }

.carousel-window {
    position: relative;
    display: inline-flex;
    width: 100vw;

    height: 600px;

    transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1);

}

.one {
    background-color: aqua;
    left: 8px;
}

.two {
    background-color: black;
    left: 2138px;
}




.group-container {
    position: absolute;
    display: inline-flex;

}